
<!-- SUPPORT section -->
{{- with $.Site.Data.Support.list -}}
<section class="site__support">
    <h2 class="support__header">{{ i18n "support_header" }}</h2>
    <p>{{ i18n "support_text" | markdownify }}</p>
    <ul class="support__links">
    {{- range . -}}
        <li class="support__link">
            <a href="{{ .url }}">{{ .name }}</a>
        </li>
    {{- end -}}
    </ul>
</section>
{{- end -}}