{{- if eq .Kind "page" -}}
  {{- if $.Site.Params.enableContentPagination -}}
  {{ if or .NextInSection .PrevInSection -}}
  <nav class="pagination">
    {{ if .NextInSection }}
    <p>
      <b>{{ i18n "page_next" }}</b>
      <a class="pagination__page" rel="next" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
    </p>
    {{ end }}
      
    {{ if .PrevInSection }}
    <p>
      <b>{{ i18n "page_prev" }}</b>
      <a class="pagination__page" rel="prev" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
    </p>
    {{ end }}
  </nav>
  {{ end }}
  {{- end -}}
{{- else -}}
  {{- if or .Paginator.HasNext .Paginator.HasPrev -}}
  <section class="pagination">
    {{- if .Paginator.HasPrev -}}
      <a class="pagination__button previous" rel="first" href="{{ .Paginator.First.URL }}">
        <span class="button icon">&lt;&lt;</span>
        <span class="button text">{{ i18n "page_first" }}</span>
      </a>

      {{- if ne .Paginator.First .Paginator.Prev -}}  
      <a class="pagination__button previous" rel="next" href="{{ .Paginator.Prev.URL }}">
        <span class="button icon">&lt;</span>
        <span class="button text">{{ i18n "page_next" }}</span>
      </a>
      {{- end -}}
    {{- end -}}

    
    {{- if .Paginator.HasNext -}}
      {{- if ne .Paginator.Last .Paginator.Next -}}
      <a class="pagination__button next" rel="prev" href="{{ .Paginator.Next.URL }}">
        <span class="button text">{{ i18n "page_prev" }}</span>
        <span class="button icon">&gt;</span>
      </a>
      {{- end -}}

      <a class="pagination__button next" rel="last" href="{{ .Paginator.Last.URL }}">
        <span class="button text">{{ i18n "page_last" }}</span>
        <span class="button icon">&gt;&gt;</span>
      </a>
    {{- end -}}
  </section>
  {{- end -}}
{{- end -}}