{{ $array := slice }}

{{- if $.Site.Params.enableLazySyntaxHighlighting -}}
    {{ $highlighter := resources.Get "js/lib/prism.js" }}
    {{ $highlighterStyle := resources.Get "css/prism.css" | minify }}

    <link rel="stylesheet" href="{{ $highlighterStyle.Permalink }}"> 
    {{ $array = $array | append $highlighter }}
{{- end -}}

{{ if $.Site.Params.enableMathSupport -}}
    <!-- MathJax -->
    <!-- Put your custom MathJax configuration over here. -->

    <!-- <script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
    <script>
        window.addEventListener("load", function () {
            const script = document.createElement("script");
            script.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
            script.async = true

            document.head.appendChild(script);
        })
    </script>
{{- end -}}

{{ if $.Site.Params.enableContentImageZoom -}}
{{ $zoomImageLib := resources.Get "js/lib/medium-zoom.js" | resources.ExecuteAsTemplate "js/_zoom.js" . | minify }}
{{ $array = $array | append $zoomImageLib }}
{{- end -}}

<!-- The custom script -->
{{ $global := resources.Get "js/toggle-node.js" | minify }}
{{- $array = $array | append $global -}}

{{- if $.Site.Params.enableSiteSearch -}}
{{ $searchEngineLib := resources.Get "js/lib/fuse.min.js" | minify  }}
{{ $searchEngineSearchScript := resources.Get "js/search-post.js" | resources.ExecuteAsTemplate "js/_search.js" .| minify }}
{{ $searchEngine := slice $searchEngineLib $searchEngineSearchScript | resources.Concat "js/_search.js" }}
{{ $array = $array | append $searchEngine }}
{{- end -}}

{{ $script := $array | resources.Concat "js/script.js" }}
{{ if (ne hugo.Environment "development")}}{{ $script = $script | resources.Fingerprint "sha512" }}{{ end }}
<script defer type="text/javascript" src="{{ $script.Permalink }}" {{ with $script.Data.Integrity }}integrity="{{ . }}"{{ end }}></script>

<!-- Site-wide user-included libraries -->
{{ with $.Site.Data.libraries }}
{{ $libraries := (sort . "weight" "asc") }}
{{ range $libraries }}
{{ if (eq .type "js") }}
<script type="{{ .type | default "text/javascript" }}" src="{{ .url }}" {{ if .defer }}defer{{ else if (not .sync) }}async{{ end }}></script>
{{ else if (eq .type "css") }}
<link rel="{{ .type | default "stylesheet" }}" href="{{ .url }}" /> 
{{ end }}
{{ end }}

<!-- If you're modifying to add your own thing, I recommend to start here. -->
<!-- Otherwise, you do you. :) -->

{{- if $.Site.GoogleAnalytics -}}
{{- template "_internal/google_analytics.html" . -}}
{{- end -}}

{{- end -}}